<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>
</div>
<!-- Core -->
<div class="page-bg display-none" id="category-{{settings.prd_cb_core_category_id}}">
    <div class="feature-banner jumbotron jumbotron-fluid kb bg">
        <div class="container i-container">
            <div class="effects-box">
                <div class="illustration" style=""></div>
                <div class="ovr overlay1"></div>
                <div class="ovr overlay2"></div>
                <div class="ovr overlay3"></div>
                <div class="ovr b"></div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-box text-white">
                        <h1 class="white display-4 font-lato font-weight-light mt-5 mb-4">CloudBees CI Support</h1>
                        <p class="white lead">Search for what you are looking for or choose your method of support for CloudBees CI.</p>

                        <div class="form-group" id="jumbotron-search">
                            <div class="input-group">{{search placeholder='Search Knowledge Base' instant=true}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 py-5">
                <a href="{{settings.documentation_url}}/docs/cloudbees-core/latest/">
                    <div class="item-box py-3">
                        <div class="rating-img"></div>
                        <div class="rating-text mt-2">
                            <h4>Documentation</h4>
                            <p>Look at the offical product documentation for completing key tasks.</p>
                        </div>
                    </div>
                </a>
            </div>

            {{#if settings.prd_cb_core_kb_path}}
                <div class="col-md-4 py-5">
                    <a href="{{page_path 'help_center'}}{{settings.prd_cb_core_kb_path}}">
                        <div class="item-box  py-3">
                            <div class="kb-img"></div>
                            <div class="kb-text mt-2">
                                <h4>Tutorials and FAQs</h4>
                                <p>Find helpful, long-form tutorials on real-world use cases and examples.</p>
                            </div>
                        </div>
                    </a>
                </div>
            {{/if}}

            <div class="col-md-4 py-5">
                {{#link 'topics'}}
                    <div class="item-box  py-3">
                        <div class="thumb-img"></div>
                        <div class="thumb-text mt-2">
                            <h4>Community</h4>
                            <p>Ask Questions in front of experts, getting solutions right from the community.</p>
                        </div>
                    </div>
                {{/link}}
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card border  px-5 py-5">
                    <div class="card-title ">
                        <h3>Getting Started</h3>
                        <p class="lead">A list of resources for any newcomer to CloudBees CI. These should help you get up and running building new projects.</p>
                    </div>
                    <div class="card-content ">
                        <div class="card-list">
                            <ul>
                                <li><a href="https://docs.cloudbees.com/docs/cloudbees-ci/latest/cloud-onboarding" class="card-link">Intro Guide</a></li>
                                <li><a href="https://docs.cloudbees.com/docs/cloudbees-ci/latest/cloud-planning-guide/" class="card-link">Planning For Modern Install</a></li>
                                <li><a href="https://docs.cloudbees.com/docs/cloudbees-ci/latest/traditional-planning-guide/" class="card-link">Planning For Traditional Install</a></li>
                                <li><a href="https://docs.cloudbees.com/docs/cloudbees-ci/latest/cloud-setup-guide/cloud-setup-guide-intro" class="card-link">Set Up For Modern Install</a></li>
                                <li><a href="https://docs.cloudbees.com/docs/cloudbees-ci/latest/traditional-setup-guide/traditional-setup-guide-intro" class="card-link">Set Up For Traditional Platformd</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border  px-5 py-5">
                    <div class="card-title">
                        <h3>Install Guides</h3>
                        <p class="lead">Use intstallation instructions specifically tailored towards the platform you will be installing CloudBees CI on.</p>
                    </div>
                    <div class="card-content">
                        <div class="card-list">
                            <ul>
                                <li>
                                    <a href="aks-install-guide/" class="page">Azure Kubernetes Service (AKS)</a>
                                </li>
                                <li>
                                <a href="eks-install-guide/" class="page">Amazon Elastic Kubernetes Service (EKS)</a>
                                </li>
                                <li>
                                <a href="gke-install-guide/" class="page">Google Kubernetes Engine (GKE)</a>
                                </li>
                                <li>
                                <a href="kubernetes-install-guide/" class="page">Generic Kubernetes</a>
                                </li>
                                <li>
                                <a href="openshift-install-guide/" class="page">OpenShift</a>
                                </li>
                                <li>
                                <a href="pks-install-guide/" class="page">Pivotal Container Service (PKS)</a>
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border">
                    <div class="card-title px-2 py-3">
                        <h3>Advanced Topics</h3>
                        <p class="lead">Use intstallation instructions specifically tailored towards the platform you will be installing CloudBees CI on.</p>
                    </div>
                    <div class="card-content px-2 py-3">
                        <div class="card-list">
                            <ul>
                                <li>
                                    <a href="https://docs.cloudbees.com/docs/admin-resources/latest/pipelines/" class="page">Pipelines</a>
                                </li>

                                <li>
                                    <a href="https://docs.cloudbees.com/docs/cloudbees-ci/latest/cloud-secure-guide/" class="page">Security</a>
                                </li>

                                <li>
                                    <a href="https://docs.cloudbees.com/docs/admin-resources/latest/backup-restore/" class="page">Back Up and Restore</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card border">
                    <div class="card-title px-2 py-3">
                        <h3>Install Guides</h3>
                        <p class="lead">Use intstallation instructions specifically tailored towards the platform you will be installing CloudBees CI on.</p>
                    </div>
                    <div class="card-content px-2 py-3">
                        <div class="card-list">
                            <ul>
                                <li>
                                    <a href="aks-install-guide/" class="page">Azure Kubernetes Service (AKS)</a>
                                </li>
                                <li>
                                <a href="eks-install-guide/" class="page">Amazon Elastic Kubernetes Service (EKS)</a>
                                </li>
                                <li>
                                <a href="gke-install-guide/" class="page">Google Kubernetes Engine (GKE)</a>
                                </li>
                                <li>
                                <a href="kubernetes-install-guide/" class="page">Generic Kubernetes</a>
                                </li>
                                <li>
                                <a href="openshift-install-guide/" class="page">OpenShift</a>
                                </li>
                                <li>
                                <a href="pks-install-guide/" class="page">Pivotal Container Service (PKS)</a>
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row d-flex px-5 justify-content-center mt-2">
            <div class="col-md-12 mt-5 mb-5">
                <h2 class="display-5 text-center font-weight-light mt-3">Need additional help?</h2>
            </div>
            <div class="col-md-5ths col-xs-5ths">
                <a href="/hc/en-us/requests/new?ticket_form_id={{settings.default_ticket_form_id}}&product=cb_core">
                <div class="card item-box">
                    <div class="mail-img"></div>
                    <div class="mail-text">
                        <p>Submit a Request</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-5ths col-xs-5ths">
                <a href="/hc/en-us/requests/new?ticket_form_id={{settings.jenius_ticket_form_id}}">
                <div class="card item-box">
                    <div class="call-img"></div>
                    <div class="call-text">
                        <p>Schedule an Appointment</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>